<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>RequestQuestionServlet</display-name>
		<servlet-name>RequestQuestionServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.question.RequestQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestQuestionServlet</servlet-name>
		<url-pattern>/requestQuestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SubmitAnswerServlet</display-name>
		<servlet-name>SubmitAnswerServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.question.SubmitAnswerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitAnswerServlet</servlet-name>
		<url-pattern>/submitAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StatisticsServlet</display-name>
		<servlet-name>StatisticsServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.me.StatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticsServlet</servlet-name>
		<url-pattern>/statistics</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FeedbackServlet</display-name>
		<servlet-name>FeedbackServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.me.FeedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbackServlet</servlet-name>
		<url-pattern>/feedback</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegistServlet</display-name>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.user.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/regist</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.user.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetUsernameServlet</display-name>
		<servlet-name>GetUsernameServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.user.GetUsernameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUsernameServlet</servlet-name>
		<url-pattern>/getUsername</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.user.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.eg.fireman.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/requestQuestion</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/requestQuestion?isRandom=true</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/requestQuestion?isRandom=false</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/submitAnswer</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/feedback</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/getUsername</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/getPhone</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/getWrongQuestionInfo</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/bindPhone</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/getVipInfo</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/vip</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wrong</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>GetWrongQuestionInfoServlet</display-name>
		<servlet-name>GetWrongQuestionInfoServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.question.GetWrongQuestionInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetWrongQuestionInfoServlet</servlet-name>
		<url-pattern>/getWrongQuestionInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BindPhoneServlet</display-name>
		<servlet-name>BindPhoneServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.me.BindPhoneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BindPhoneServlet</servlet-name>
		<url-pattern>/bindPhone</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>EncodFilter</display-name>
		<filter-name>EncodFilter</filter-name>
		<filter-class>com.eg.fireman.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>GetUserServlet</display-name>
		<servlet-name>GetUserServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.user.GetPhoneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserServlet</servlet-name>
		<url-pattern>/getPhone</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetVipInfo</display-name>
		<servlet-name>GetVipInfo</servlet-name>
		<servlet-class>com.eg.fireman.servlet.user.GetVipInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetVipInfo</servlet-name>
		<url-pattern>/getVipInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VipServlet</display-name>
		<servlet-name>VipServlet</servlet-name>
		<servlet-class>com.eg.fireman.vip.VipServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VipServlet</servlet-name>
		<url-pattern>/vip</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AlipayNotifyServlet</servlet-name>
		<servlet-class>alipay.AlipayNotifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlipayNotifyServlet</servlet-name>
		<url-pattern>/alipay/notify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AlipayReturnServlet</servlet-name>
		<servlet-class>alipay.AlipayReturnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlipayReturnServlet</servlet-name>
		<url-pattern>/alipay/return</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>WrongServlet</display-name>
		<servlet-name>WrongServlet</servlet-name>
		<servlet-class>com.eg.fireman.servlet.question.WrongServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WrongServlet</servlet-name>
		<url-pattern>/wrong</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EasterEggServlet</display-name>
		<servlet-name>EasterEggServlet</servlet-name>
		<servlet-class>com.eg.fireman.easteregg.EasterEggServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EasterEggServlet</servlet-name>
		<url-pattern>/easterEgg</url-pattern>
	</servlet-mapping>
</web-app>